# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Python environment files
Pipfile
Pipfile.lock

# IDE/editor specific files
.vscode/

# macOS Finder folder attributes
.DS_Store

# Environment variables
.env

# Project specific files
Scraped data/